.hello {
    font-family: 'Yatra One';
    font-size: 65px;
    color: Black;
    text-align: center;
}

.world{
    font-family: 'Yatra One';
    font-size: 68px;
    color: Black;

}
.pad {
    text-align: center;
    width: 100%;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

.aaa{
    text-align: center;
    width: 100%;
}
.hideANDsee {
    cursor: pointer; 
    user-select: none; /* Prevent text selection */
}
/* Hide the nested list */
.nested {
    display: none;
}
  
/* Show the nested list when the user clicks on (with JavaScript) */
.active {
    display: block;
}

/* Table css */
.tab_products{
    border-collapse: collapse;
    padding: 10px;
}