.hello {
    font-family: 'Yatra One';
    font-size: 65px;
    color: Black;
    text-align: center;
}

.world{
    font-family: 'Yatra One';
    font-size: 68px;
    color: Black;

}
.pad {
    text-align: center;
    width: 100%;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

.aaa{
    text-align: center;
    width: 100%;
}